body {
	background: grey;
	margin: 0;
}

.navbar{
	margin: 0;
}

.container{
	margin-top: 50px;
	padding-left: 10px;
}


.nav-ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
	position: fixed;
	top: 0;
	width: 100%;
}

.nav-li-left{
	float: left;
}

.nav-li-right-div{
	float: right;
}

.nav-li-right{
	float: left;
}


@media screen and (max-width: 650px) {
	.nav-li-left {float: none;}
	.nav-li-right-div {float: none;}
	.nav-li-right {float: none;}
	.container{margin-top: 300px;}
}

.nav-li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.nav-li a:hover {
  background-color: #111;
}

.nav-li-brand a {
	display: block;
	color: white;
	font-weight: bold;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.nav-li-brand a:hover {
  background-color: #333;
}

.alert {
  padding: 20px;
  opacity: 1;
  transition: opacity 0.6s;
  margin-bottom: 15px;
}

.closebtn {
  margin-left: 15px;
  color: black;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: grey;
}

.textarea {
  display: block;
  width: 100%;
  overflow: hidden;
  resize: height
  min-height: 40px;
  line-height: 20px;
  overflow-y: scroll;
  background: #f1f1f1;
}

.textarea:focus{
  background-color: #ddd;
}


.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #cccccc;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.article-attached-img{
	width: 50%;
}

.article-ul {
	list-style-type: none;
}